@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form-title {
    margin-top: 25px;
    text-align: center;
    font-size: 30px;
}
.form-box {
  width: 360px;
  padding: 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin-top: 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form input#submit {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  margin-top: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form input#submit:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 15px;
}
form textarea#message {
  outline: 0;
  background: #f2f2f2;
  width: 96%;
  height: 100%;
  resize: vertical;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  font-size: 14px;;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.error {
  color: red;
  font-size: .8em;
}

body {
  background:  #2db8b1; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #2db8b1, #8DC26F);
  background: -moz-linear-gradient(right, #2db8b1, #8DC26F);
  background: -o-linear-gradient(right, #2db8b1, #8DC26F);
  background: linear-gradient(to left, #2db8b1, #8DC26F);
  /* font-family: "Roboto", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}