<!doctype html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>ENABLE 3.0</title>
        <link rel="stylesheet" href="{{ url_for('static',     filename='css/styles.css') }}"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
        <!-- Bootstrap CSS -->
        <!-- link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    </head>

    <body>
        <div class="form-box">
            <p class="form-title">Please fill out the following form and we will contact you.</p>
            <div class="form">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }} <!-- needed for CSRF attack prevention -->
                    
                    {{ form.firstname(placeholder="first name") }}
                    {% for error in form.firstname.errors %}
                    <span class="error" style="color: red;">[{{ "first name required" }}]</span>
                    {% endfor %}
                    <br>

                    {{ form.lastname(placeholder="last name") }}
                    {% for error in form.lastname.errors %}
                    <span class="error" style="color: red;">[{{ "last name required" }}]</span>
                    {% endfor %}
                    <br>

                    {{ form.email(placeholder="email") }}
                    {% for error in form.email.errors %}
                    <span class="error" style="color: red;">[{{ "email required" }}]</span>
                    {% endfor %}
                    <br>

                    {{ form.subject(placeholder="subject") }}
                    {% for error in form.subject.errors %}
                    <span class="error" style="color: red;">[{{ "subject required" }}]</span>
                    {% endfor %}
                    <br>

                    {{ form.message(placeholder="type your message here") }}
                    {% for error in form.message.errors %}
                    <span class="error" style="color: red;">[{{ "message required" }}]</span>
                    {% endfor %}
                    <br>

                    {{ form.submit() }}
                <p class="message">Return to <a href="{{ url_for('login') }}">Login</a>.<br/></p>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

    <script src="{{ url_for('static',     filename='js/login.js') }}"></script>
</html>