{% extends "layout.html" %}
{% block title %}Help{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}  
    <div class="form-box">
        <p class="form-title">Please fill out the following form and we will contact you.</p>
        <div class="form">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }} <!-- needed for CSRF attack prevention -->
                
                {{ form.firstname(placeholder="first name") }}
                {% for error in form.firstname.errors %}
                <span class="error" style="color: red;">[{{ "first name required" }}]</span>
                {% endfor %}
                <br>

                {{ form.lastname(placeholder="last name") }}
                {% for error in form.lastname.errors %}
                <span class="error" style="color: red;">[{{ "last name required" }}]</span>
                {% endfor %}
                <br>

                {{ form.email(placeholder="email") }}
                {% for error in form.email.errors %}
                <span class="error" style="color: red;">[{{ "email required" }}]</span>
                {% endfor %}
                <br>

                {{ form.subject(placeholder="subject") }}
                {% for error in form.subject.errors %}
                <span class="error" style="color: red;">[{{ "subject required" }}]</span>
                {% endfor %}
                <br>

                {{ form.message(placeholder="type your message here") }}
                {% for error in form.message.errors %}
                <span class="error" style="color: red;">[{{ "message required" }}]</span>
                {% endfor %}
                <br>

                {{ form.submit() }}
            <p class="message">Return to <a href="{{ url_for('login') }}">Login</a>.<br/></p>
        </div>
    </div>
{% endblock %}