{% extends "layout.html" %}
{% block title %}Help{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <p class="form-title">Welcome to ENABLE 3.0</p>
    <div class="form-box">
        <div class="form">
            <img class="enable_img" src="/static/images/enable_icon.png" alt="enable_icon" style="width:128px;height:128px;">
            <!-- <h1 class="login-title">ENABLE 3.0</h1> -->
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }} <!-- needed for CSRF attack prevention -->
                
                {{ form.username(placeholder="username") }}
                {% for error in form.username.errors %}
                <span class="error" style="color: red;">[{{ "username is required" }}]</span>
                {% endfor %}
                <br>

                {{ form.password(placeholder="password") }}
                {% for error in form.password.errors %}
                <span class="error" style="color: red;">[{{ "password is required" }}]</span>
                {% endfor %}
                <br>

                {{ form.submit() }}
                <p class="message">Need Help? Contact <a href="{{ url_for('help') }}">here</a>.<br/></p>
            </form>
        </div>
    </div>
{% endblock %}